<svg width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1_6)">
<rect width="59" height="128" rx="8" fill="#{{ .colors.accent }}"/>
<rect x="69" width="59" height="36" rx="8" fill="#{{ .colors.white }}"/>
<rect x="69" y="46" width="59" height="36" rx="8" fill="#{{ .colors.white }}"/>
<rect x="69" y="92" width="59" height="36" rx="8" fill="#{{ .colors.white }}"/>
</g>
<defs>
<clipPath id="clip0_1_6">
<rect width="128" height="128" fill="white"/>
</clipPath>
</defs>
</svg>
