return {
	BASE00       = "#{{ .colors.black      }}",
	BSAE01       = "#{{ .colors.black2     }}",
	BASE02       = "#{{ .colors.onebg      }}",
	BASE03       = "#{{ .colors.grey       }}",
	BASE04       = "#{{ .colors.grey_fg    }}",
	BASE05       = "#{{ .colors.white      }}",
	BASE06       = "#{{ .colors.light_grey }}",
	BASE07       = "#{{ .colors.oneb3      }}",
	BASE08       = "#{{ .colors.red        }}",
	BASE09       = "#{{ .colors.yellow     }}",
	BASE0A       = "#{{ .colors.yellow     }}",
	BASE0B       = "#{{ .colors.green      }}",
	BASE0C       = "#{{ .colors.cyan       }}",
	BASE0D       = "#{{ .colors.blue       }}",
	BASE0E       = "#{{ .colors.magenta    }}",
}
