return {
	black        = "#{{ .colors.black        }}",
	darker_black = "#{{ .colors.darker_black }}",
	black2       = "#{{ .colors.black2       }}",
	onebg        = "#{{ .colors.onebg        }}",
	oneb2        = "#{{ .colors.oneb2        }}",
	oneb3        = "#{{ .colors.oneb3        }}",
	statusline   = "#{{ .colors.statusline   }}",
	white        = "#{{ .colors.white        }}",
	grey         = "#{{ .colors.grey         }}",
	grey_fg      = "#{{ .colors.grey_fg      }}",
	grey_fg2     = "#{{ .colors.grey_fg2     }}",
	light_grey   = "#{{ .colors.light_grey   }}",
	red          = "#{{ .colors.red          }}",
	green        = "#{{ .colors.green        }}",
	yellow       = "#{{ .colors.yellow       }}",
	blue         = "#{{ .colors.blue         }}",
	magenta      = "#{{ .colors.magenta      }}",
	cyan         = "#{{ .colors.cyan         }}",
}
